<?xml version="1.0" encoding="UTT-8" ?>
<widget xmlns ="http://.www.w3.org/ns/widgets"
        xmlns:gap ="http://github.com/ns/1.0"
        id ="com.itvarsity.pine city zoo"
        versionCode ="10"
        version ="1.0.0">

<name>PINE CITY ZOO</name>

<description>
Find your way around the Pine city zoo.
</description>

<author href="https://itvarsity.co.za" email="mapasa1aviwe@icloud.com">
</author>
        
</widget>